    <dict>
      <key>Identifier</key><string>%s</string>
      <key>ImageName</key><string>%s</string>
      <key>ImageType</key><string>%s</string>
      <key>Interface</key><string>%s</string>
      <key>InterfaceVersion</key><integer>1</integer>
      <key>ReadOnly</key><%s/>
    </dict>
